.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.domain{
    fill: none; 
    stroke:rgb(167, 166, 166); 
    stroke-width: 1px; 
    shape-rendering: crispEdges;
}

/* axis line test */
.axis path { 
    fill: none; 
    stroke:#000; 
    stroke-width: 1.5px; 
    shape-rendering: crispEdges;
}

/* controls the top line in area */
.area.line {
    fill: none;
    stroke: #058dc7;
    stroke-width: 6.0px;
}

.area.line.points {
    fill: #058dc7;
    stroke: #fff;
    stroke-width: 3.0px;
}

/* histogram styles */
.histo.rect { fill: #058dc7; }

.bar.rect {
    fill: #058dc7;
    stroke: none;
}

.bar.text {
    fill: #000;
    stroke: none;
    font-size: 20px;
}
select, select:focus{
    border-radius: 20px;
    outline: none;
}
.bottom{
    background-color: #DAEDFB;
    color: #25547E;
    direction: rtl;
    height: 30px;
}
.bottom ul li{
    display: inline;
    list-style: none;
    border-right: 1px solid #89AEC0;
    padding: 5px 10px;
    cursor: pointer;
}
.bottom ul li:first-child{
    border: none;
}
.info{
    padding: 25px;
    height: 800px;
    width: 930px;
    border: 3px solid;
    position: absolute;
    margin-top: -800px;
    z-index: 20;
    background-color: #DAEDFB;
}
.whatIsAgenda{
    
}
