
.content {
    margin-top:50px;
    width:100%;
    font-family: openfont, sans-serif;
    font-size: 14px;
    line-height: 1.143;
}

/*footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}*/

/*.domain{
    fill: none; 
    stroke:rgb(167, 166, 166); 
    stroke-width: 1px; 
    shape-rendering: crispEdges;
}

/* axis line test 
.axis path { 
    fill: none; 
    stroke:#000; 
    stroke-width: 1.5px; 
    shape-rendering: crispEdges;
}

/* controls the top line in area 
.area.line {
    fill: none;
    stroke: #058dc7;
    stroke-width: 6.0px;
}

.area.line.points {
    fill: #058dc7;
    stroke: #fff;
    stroke-width: 3.0px;
}

/* histogram styles 
.histo.rect { fill: #058dc7; }

.bar.rect {
    fill: #058dc7;
    stroke: none;
}

.bar.text {
    fill: #000;
    stroke: none;
    font-size: 20px;
}*/
/* top */
h1{
    float: right;
    width: 415px;
    text-align: right;
}
a.by-score{
    color: #222222;
    text-decoration: none;
    width: 125px;
    float: left;
    text-align: center;
    font-size: 16px;
    padding-bottom: 2px;
}

.by-score-container{
    float: left;
    width: 525px;
    border-bottom: 2px solid #222222;
}
a.by-score.active{
    font-weight: bold;
    border-bottom: 2px solid #222222;
}
.loading{
    position: absolute;
    top: 200px;
}
select, select:focus{
    border-radius: 20px;
    outline: none;
    float: right;
    clear: both;
}
.chart-container .active{
    display: block;
}
.chart-container .inactive{
    display: none;
}
/* info */
.info{
    position: relative;
    background-color: rgba(32, 85, 123, 0.95)
}
.info div{
    margin: 5%;
    width: 80%;
    position: absolute;
    font-size: 20px;
    color: #fff;
}
.info div p{
    text-align: right;
    direction: rtl;
}
.info div h5{
    background: url(/img/icons/i_float.png) right no-repeat;
    font-size: 20px;
    direction: rtl;
    padding-right: 23px;
}
.info.active > *{
    position: relative;
}
.info span.exit{
    background: #09f url(/img/icons/X.png) center 40px no-repeat;
    height: 60px;
    width: 26px;
    position: absolute;
    right: 10px;
    top: -2px;
    cursor: pointer;
}
/* footer */
.footer, .footer > *{
    float: right;
    line-height: 30px;
    color: #25547E;
}
.footer{
    width: 100%;
}
.footer * a{
    color: #25547E !important;
}
.footer ul{
    border: 1px solid #89AEC0;
    border-top: 1px dashed #65BAF7;
    direction: rtl;
    height: 30px;
    background-color: #DAEDFB;
    width: 100%;
}
.footer ul li{
    float: right;
    display: inline;
    list-style: none;
    padding: 5px 26.5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 92%;
    border-left: 1px solid #89AEC0;
    text-align: center;
}
.footer ul li a{
    color: #25547E;
    text-decoration: none;
}
.footer ul li:first-child{
    background-image: url(/img/icons/i_share.png);
    float: right;
}
.footer .share a{
    padding-right: 20px;
    width: 100%;
}
.footer ul li:nth-child(2){
    background-image: url(/img/icons/i_info.png);
}
.footer ul li:nth-child(3){
    /*width: 120px;*/
    background-image: url(/img/icons/agenda-embed-help.png)
}
.footer ul li:nth-child(4){
}
/* views */
.share-select{
    float: right;
    width: 100px;
    text-align: right;
    border: 1px solid #89AEC0;
    border-bottom: none;
    position: relative;
    margin-top: -82px;
}
.share-select > div{
    background-color: #DAEDFB;
}
.share-select > div:hover{
    background-color: #215384;
}
.share-select a:hover, .share-select div:hover a{
    color: #fff;
    text-decoration: none;
}
.share-select div a{
    color: #25547E;
}
.share-select div{
    background-repeat: no-repeat;
    background-position: 92%;
    text-align: center;
    height: 27px;
}
.share-select .pic{
    /*background-image: url(/img/icons/i_pic.png);*/
}
.share-select .embed{
    background-image: url(/img/icons/i_embed.png);
}
.share-select .fb{
    background-image: url(/img/icons/i_fb.png);
}
.member-info{
    position: absolute;
    right: 25%;
    /*padding: 25px;*/
    height: 208px;
    width: 356px;
    border: 1px solid #E5EAF0;
    z-index: 20;
    background-color: #ffffff;/*DAEDFB*/
    border-radius: 15px;
}
.member-info .details{
    height: 150px;
    margin: 15px 10px;
}
.member-info .details > div{
    float: right;
}
.member-info .name{
    color: #5693CC;
}
.member-info .right{
    width: 132px;
    height: 173px;
}
.member-info .right img{
    border: 1px solid #E5EAF0;
    height: 100%;
    width: 100%;
}
.member-info .links{
    background-color: #F6F6F6;
    border-top: 1 solid #E6E6E6;
    height: 50px;
    direction: rtl;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.member-info .links a{
    padding: 14px 10px 0 0;
    float: right;
}

.whatIsAgenda{
    
}
.share-link input{
    width: 80%;
    margin: 0px auto;
}

.highcharts-loading{
    direction: rtl;
}
#canvas{
    display: none;
}