<section data-ng-controller="AgendasController" data-ng-init="findOne()">
	<h1>{{agenda.name}}</h1>
	<div>
		<a data-ng-click="byScore=true; initAgendasChart();">לפי ציון</a>
		<a data-ng-click="byScore=false;; initAgendasChart()">לפי הצבעות</a>
	</div>
	<span>{{partyName}}</span>
	<button ng-click="irange('201001-201112')">201001-201112</button>
	<button ng-click="irange('201101-201112')"> 201101-201212 </button>
	<button ng-click="irange('201201-201302')"> 201201-201302 </button>
	<img data-ng-show="loading" src="/img/loaders/loader.gif">
	<chart id="agendasChart" data-ng-hide="loading" data='agendasChart' height="800"></chart>
	
</section>