<section data-ng-controller="AgendasController" data-ng-init="query(null)">
	<h1>{{agenda.name}}</h1>
	<div>
		<a data-ng-click="byScore=true; initAgendasChart();" data-ng-class="{active : byScore}">לפי ציון</a>
		<a data-ng-click="byScore=false;; initAgendasChart()" data-ng-class="{active : !byScore}">לפי הצבעות</a>
	</div>
	<span data-ng-click="byParties=true">{{partyName}}</span>
	<img data-ng-show="loading" src="/img/loaders/loader.gif">
	<select ng-options="value.name for (key,value) in agenda.parties" ng-model="party" ng-click="selectParty(party.index)">
		<option value="" ng-click="selectParty(false)">כל המפלגות</option>
	</select>
	<div class="chart-container" data-ng-hide="loading">
		<!-- <range min="0" max="23" /> -->
		<chart id="agendasChart"  data='agendasChart'></chart>
		
		<div class="bottom">
			<div  ng-show="display.share">
				<div class="pic" data-ng-click="export()">כתמונה</div>
				<div class="embed">עמבד</div>
				<div class="facebook">פייסבוק</div>
			</div>
			<ul>
				<li class="share"  ng-click="display.share=!display.share">שתף
				</li>
				<li class="about" ng-click="display.about=!display.about">אודות האגנדה</li>
				<li  ng-click="display.whatIsAgenda=!display.whatIsAgenda">מהי אג'נדה?
				</li>
				<li>בעריכת {{agenda.public_owner_name}}</li>
				<li class="credit">מאת <a href="/">כנסת פתוחה</a></li>
			</ul>
			
		</div>
		<div data-ng-show="display.memberDetails" data-ng-include="'views/agendas/member-details.html'"></div>
		<div data-ng-show="display.about" data-ng-include="'views/agendas/about.html'"></div>
		<span data-ng-include="'views/agendas/what-is-agenda.html'"></span>
	</div>
	
</section>