<div id="fb-root"></div>

<section data-ng-controller="AgendasController" data-ng-init="query(null)">
	<h1>{{agenda.name}}</h1>
	<div class="by-score-container">
		<a data-ng-click="byScore=true; initAgendasChart();" class="by-score" data-ng-class="{active : byScore}">לפי ציון</a>
		<a data-ng-click="byScore=false; initAgendasChart()" class="by-score" data-ng-class="{active : !byScore}">לפי הצבעות</a>
	</div>
	<img data-ng-show="loading" class="loading" src="/img/loaders/loader.gif">
	<select data-ng-options="party.name for (key,party) in agenda.parties" data-ng-model="party" data-ng-click="selectParty(party)">
		<option value="" data-ng-click="selectParty(false)">כל המפלגות</option>
	</select>
	<div class="chart-container">
		<range id="range1"></range>
		<chart id="agendas-chart" data='agendasChart' data-ng-class="{'active' : !display.general, 'inactive' : display.general}"></chart>
		<div data-ng-show="display.memberDetails" data-ng-include="'views/agendas/member-details.html'"></div>
		<div data-ng-show="display.general" data-ng-class="{'active' : display.general, 'inactive' : !display.general}">
			<div class="share-select" data-ng-show="display.share">
				<div class="pic"><a data-ng-click="export()">כתמונה</a></div>
				<div class="embed"><a data-ng-click="toggleDisplay('embed')">עמבד</a></div>
				<div class="facebook"><a data-ng-click="facebook()" href="">פייסבוק
					<!-- <div class="fb-share-button" data-href="http://linnoapps.cloudapp.net:3001/#!/agendas/74/" data-type="icon"></div> -->
			</a></div>
			</div>
			<div data-ng-show="display.embed" data-ng-include="'views/agendas/share-link.html'"></div>
			<div data-ng-show="display.about" data-ng-include="'views/agendas/about.html'"></div>
			<div data-ng-show="display.whatIsAgenda" data-ng-include="'views/agendas/what-is-agenda.html'"></div>
			
		</div>
	</div>
	<div class="footer" data-ng-show="!loading">
		<ul>
			<li class="share"><a data-ng-click="toggleDisplay('share')">שתף</a></li>
			<li class="about"><a data-ng-click="toggleDisplay('about')">אודות האג'נדה</a></li>
			<li class="what-is-agenda"><a data-ng-click="toggleDisplay('whatIsAgenda')">מהי אג'נדה?</a></li>
			<li>בעריכת {{agenda.public_owner_name}}</li>
			<li class="credit">מאת <a href="/" target="_blank">כנסת פתוחה</a></li>
		</ul>
	</div>	
</section>
<canvas id="canvas" width="{{chart.chartWidth}}px" height="{{chart.chartHeight}}px" ></canvas>


<!-- 
<div id="toolbox" class="all-share addthis_toolbox addthis_default_style addthis_32x32_style" addthis:url="http://linnoapps.cloudapp.net:3001/#!/agendas/74/" addthis:title="title">
                
                <img class="fb-share-image" ng-click="facebook()" src="/img/icons/facebook.png" alt="Facebook" />
            </div>

            <script>
                setTimeout(function() {
                    addthis.toolbox("#toolbox");
                }, 500);
                </script> -->