<div class="whatIsAgenda info" ng-style="{'height': chart.chartHeight +'px', 'margin-top' : '-' + chart.chartHeight +'px'}">
	<span class="exit" data-ng-click="toggleDisplay('whatIsAgenda')">&nbsp;</span>
	<div>
		<h5>אג'נדה: ניתוח דפוסי הצבעה</h5>
		<p>	מערכת האג'נדות מאפשרת לעקוב אחרי דפוסי הצבעה של חברי הכנסת בנושאים שונים. עורכי האג'נדות - גופים, עמותות ויחידים, מגדירים הצבעות על הצעות חוק כתומכים או נוגדים את האג'נדה אותה הם מקדמים, והמערכת מציגה את המגמות העולות מאופני ההצבעה של הח"כים בהתאם.</p>
	</div>
</div>